<!DOCTYPE html>
<html>
<head>
  <title>Toolbar</title>
  <%= stylesheet_link_tag    "toolbar/application", media: "all" %>
  <%= javascript_include_tag "toolbar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
